
<body>
    <br />
    <br />
    <br />
    @**@
<div id="main" >
    <h1 class="display-4">Delete item(s)</h1>
    <table id="item_table">

    </table>
</div>
</body>
@section Scripts{
    <script src="~/js/site.js" asp-append-version="true"></script> }
@*<ul id="ul-items">

    @for (int i = 0; i < Model.Count; i++)
    {
        <li>
            <div id="li-items">
                <div id="delete1">@Model[i].item_name | @Model[i].item_price | @Model[i].sale_percent % |(ID = @Model[i].item_id)</div>
                <button id="item_id_delete_button" onclick="deleteCs(@Model[i].item_id)" name="@Model[i].item_id" value="@Model[i].item_id">Delete This</button>

                <button id="item_id_delete_button" asp-area="" asp-controller="Shop" asp-action="DeletDis" name="item_id"  value="@Model[i].item_id">Delete This</button>

    </div>
    </li>
    }
    <input type="submit" name="item_id" @Url.Action("DeleteDis", "Shop" , new {item_id = Model[i].item_id}) value ="@Model[i].item_id "value="Delete @Model[i].item_id" />
    <button class="nav-link text-dark" @Url.Action("DeleteDis", "Shop" , new {item_id = Model[i].item_id}) >Delete Dis</button>
    </ul>
    <input type="text" name="item_id" placeholder="Type in an ID" hidden="hidden" />*@